{% extends 'main/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load LBD_filter_form %}
<meta charset="utf-8">
{% block title %}
Listado de registro
{% endblock %}
{% block content %}
<style>
.[FIELD_NAME]_css{
    white-space:nowrap;
}


.[FIELD_NAME]_css{
    text-align: end;    
}

</style>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div id="toolbar">
                <a role="button"  id="btNuevo" 
                href="/registro/new_registro" 
                class="btn btn-info btn-wd" >
                    <i class="fa fa-plus"></i> Nuevo registro
                </a>
            
            </div>
            {{table}}
            
            
        </div>
    </div>
</div>
{% endblock %}