{% extends 'main/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load LBD_filter_form %}
<meta charset="utf-8">
{% block title %}
Listado de SUC
{% endblock %}
{% block content %}
<style>
.[FIELD_NAME]_css{
    white-space:nowrap;
}


.[FIELD_NAME]_css{
    text-align: end;    
}

</style>
<script>
    $(document).ready(function() {
    
    
        $('#descarga_suc').click(function () {
            
            sele=$('#bttable').bootstrapTable('getSelections')
            ids=""
            sele.forEach(element => ids=ids+element.id+",")
            window.location.href = "http://127.0.0.1:8000/suc/donwload_zip_sucs/"+
                                    ids+"/"
        })
        $('#enviar_suc').click(function () {
            
            sele=$('#bttable').bootstrapTable('getSelections')
            ids=""
            sele.forEach(element => ids=ids+element.id+",")
            window.location.href = "http://127.0.0.1:8000/suc/new_email_sucs/"+
                                    ids+"/"
        })
    })
</script>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div id="toolbar">
                <button id="descarga_suc" type="button"
                class="btn btn-primary btn-wd"
                ><i class="fa fa-cloud-download" aria-hidden="true"></i>
                Descargar</button>
                <button id="enviar_suc" type="button"
                class="btn btn-info btn-wd"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i>
                Enviar email</button>
                
                <a role="button"  id="btNuevo" 
                href="/suc/new_suc" 
                class="btn btn-success btn-wd" >
                    <i class="fa fa-plus"></i> Nuevo SUC
                </a>
                
            </div>
            {{table}}
            
            
        </div>
    </div>
</div>
{% endblock %}