{% extends 'main/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load LBD_filter_form %}
<meta charset="utf-8">
{% block title %}
Listado de carga_masiva
{% endblock %}
{% block content %}
<style>
.[FIELD_NAME]_css{
    white-space:nowrap;
}


.[FIELD_NAME]_css{
    text-align: end;    
}

</style>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
        
            <p>
            EL ARCHIVO DEBE TENER EL FORMATO CSV DE EXCEL. <br>
            FORMATO DE LINEAS:
            CODIGO_SUC;CÓDIGO_MIGA;ID_POSTE
              
            </p>
            <div id="toolbar">
                <a role="button"  id="btNuevo" 
                href="/configuracion/carga_masiva/new_carga_masiva" 
                class="btn btn-info btn-wd" >
                    <i class="fa fa-plus"></i> Nuevo carga_masiva
                </a>
            
            </div>
            {{table}}
            
            
        </div>
    </div>
</div>
{% endblock %}