{% extends 'main/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load LBD_filter_form %}
<meta charset="utf-8">
{% block title %}
    {% if pk %}
    Carga_masiva <b>{{form.instance}}</b>
    {% else %}
        Nuevo carga_masiva
    {% endif %}
    
{% endblock %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            {% comment %}
                
                {% with form.campo1|as_crispy_field as a %}
                {% with form.campo2|as_crispy_field as b %}
                {% with form.campo3|as_crispy_field as c %}
                {% with form.campo4|as_crispy_field as d %}
                    {% include 'gentemp/4_cols_resp.html' with a=a b=b c=c d=d %}
                {% endwith %}{% endwith %}{% endwith %}{% endwith %}
            {% endcomment %}
            {{form.media}}
            <form class="form-horizontal" enctype="multipart/form-data" method="post" novalidate>
                {% csrf_token %}
                <div class="row justify-content-center">
                    
                    <div class="col-3 align-self-center">
                        {{ form.csv|as_crispy_field }}
  
                    </div>  
                </div>
                
                 
                <hr>
                <div class="row">
                    <div class="col">
                        {% if pk %}
                        <script>
                            function delete_object(){
                                confirmDialog(
                                    "¿Eliminar Carga_masiva {{form.instance.codigo}}?",
                                    `Confirme para eliminar completamente. \r\n
                                     `,
                                    "/configuracion/carga_masiva/delete_carga_masiva/{{form.instance.id}}");
                            }
                        </script>
                        <button type="button" onclick="delete_object();"
                         class="btn btn-wd btn-danger btn-outline">
                            <span class="btn-label">
                                <i class="fa fa-trash"></i>
                            </span>
                            Eliminar
                        </button>
                        {% endif %}
                    </div>
                    <div class="col">
                        <div style="text-align:right;">
                        <a href="/configuracion/carga_masiva/list/list" >Listado de Carga_masiva</a>&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-fill btn-info btn-wd">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Guardar 
                        </button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}